<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HackSpace es el mejor entorno para Developers y Makers de LATAM originado en la filosofía del hacer">
    <meta charset="UTF-8">
    <title>HackSpace Chiclayo - Aprende, Imagina, Crea y Desarrolla</title>
    <meta name="author" content="Dev's Hackspace">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/libs/prism/prism.css">
    <link rel="stylesheet" href="assets/css/pe-slider.min.css">
    <link rel="stylesheet" href="assets/fonts/pe-icon-set-edition/css/pe-icon-set-edition.css">
    <link rel="stylesheet" href="assets/fonts/pe-icon-set-edition/css/helper.css">
    <link rel="stylesheet" href="assets/fonts/pe-icon-social/css/pe-icon-social.css">
    <link rel="stylesheet" href="assets/fonts/pe-icon-social/css/social-style.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
  </head>
  <body>
    <svg style="display:none">
      <defs>
        <g id="svg-arrow">
          <path fill="white" d="M91.3,9.2c0-0.5-0.3-0.8-0.8-1.1c-1.1-0.6-3.1-0.5-4.4,0.3c-0.2,0.1-0.4,0.3-0.6,0.5c-0.1,0.1-0.1,0.5-0.1,0.7 c0,0.1,0,0.2,0,0.2c0,0.1,0,0.2,0.1,0.3l0.1,0.1l0,0.2c0.1,8.2-3.4,17.4-9.4,24.5c-2.6,3.1-6.8,7.4-12.2,10.4 c-2.9,1.7-5.9,2.8-8.7,3.3c-3.2,0.6-6.2,0.4-9.3-0.5c-3.2-0.9-6.3-2.4-9.5-4.6c-7.5-5.1-12.3-12.7-15.3-18 c-3.3-5.9-5.9-11.4-7.8-16.6c0.7,0.7,1.4,1.3,2.1,2c0.9,0.8,1.7,1.7,2.6,2.5c2.4,2.2,5.1,4.1,7.8,6c1.8,1.3,3.7,2.6,5.5,4 c0.8,0.6,2.8,0.5,4.3-0.3c0.6-0.3,1-0.7,1-1.1c0-0.3-0.2-0.6-0.5-0.7c-1.7-1.4-3.5-2.6-5.3-3.9c-2.5-1.8-5.2-3.6-7.5-5.7  c-1.1-1-2.3-2.1-3.4-3.2c-2.9-2.7-5.9-5.6-9.1-7.9C10-0.1,7.7-0.2,6.4,0.5C5.9,0.8,5.6,1.2,5.6,1.6C5.3,4.3,5,7,4.7,9.6 c-1,9.3-2.1,18.9-4.6,28.2c-0.1,0.5,0.1,0.7,0.2,0.9c0.9,0.7,3.1,0.6,4.4-0.2c0.4-0.2,0.8-0.6,1-1c2.1-7.6,3.1-15.5,4-23.3  c2.8,6.6,6.2,12.9,10.2,18.6c4.7,6.6,10.4,11.7,16.7,14.9c7,3.5,14.7,4.6,22.4,3c3-0.6,6.1-1.8,9.2-3.6c4.2-2.4,8.4-5.9,12.3-10.1 C87.8,29,91.9,18.3,91.3,9.2z"></path>
        </g>
        <g id="slider-arrow">
          <path fill="white" d="M59,0H22H1H0v1v58v1h1h21h37c0.6,0,1-0.4,1-1V1C60,0.4,59.6,0,59,0z M35.9,38.1L33,40.9L22.1,30L33,19.1l2.8,2.8L27.8,30L35.9,38.1z">  </path>
        </g>
        <g id="logo-svg">
          <path fill="#EFD644" d="M16.7,28.5c-0.5,0.3-1.3,0.3-1.8,0l-7.7-4.5c-0.5-0.3-0.9-1-0.9-1.6v-9c0-0.6,0.4-1.3,0.9-1.6l7.7-4.5c0.5-0.3,1.3-0.3,1.8,0l7.7,4.5c0.5,0.3,1.3,0.3,1.8,0l4.4-2.6c0.5-0.3,0.5-0.8,0-1l-14-8.1c-0.5-0.3-1.3-0.3-1.8,0l-14,8.1C0.4,8.6,0,9.3,0,9.9v16.2c0,0.6,0.4,1.3,0.9,1.6l14,8.1c0.5,0.3,1.3,0.3,1.8,0l14-8.1c0.5-0.3,0.5-0.8,0-1l-4.4-2.6c-0.5-0.3-1.3-0.3-1.8,0L16.7,28.5z"></path>
          <path fill="#EFD644" d="M11.8,14.6c-0.5,0.3-0.9,1-0.9,1.6v3.6c0,0.6,0.4,1.3,0.9,1.6l3.1,1.8c0.5,0.3,1.3,0.3,1.8,0l3.1-1.8c0.5-0.3,0.9-1,0.9-1.6v-3.6c0-0.6-0.4-1.3-0.9-1.6l-3.1-1.8c-0.5-0.3-1.3-0.3-1.8,0L11.8,14.6z"></path>
          <path fill="#EFD644" d="M31.3,13.1c0-0.6,0.4-0.8,0.9-0.5l8.4,4.9c0.5,0.3,0.5,0.8,0,1l-8.4,4.9c-0.5,0.3-0.9,0.1-0.9-0.5V13.1z"></path>
        </g>
      </defs>
    </svg>
    <div id="loading">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 36" class="loader">
        <use xlink:href="#logo-svg"></use>
      </svg>
    </div>
    <nav class="navbar navbar-fixed-top ciclope-navigation text-semibold transp">
      <div class="container"><a href="#main-slider" class="main-logo"><img src="assets/img/hackspace-cix.png" srcset="assets/img/hackspace-cix2x.png 2x" alt="HackSpace Chiclayo"></a>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#entorno">Entorno</a></li>
          <li role="presentation"><a href="#repositorio">Repositorio</a></li>
          <li role="presentation"><a href="#aliados">Aliados</a></li>
          <li role="presentation" class="social">
              <a href="https://facebook.com/hackspaceperu">
                <div class="hex hex-xs hex-white">
                <div class="hex-content"><i class="pe-so-facebook"></i></div>
                </div>
              </a>
          </li>
          <li role="presentation" class="social">
              <a href="https://twitter.com/hackspaceperu">
                <div class="hex hex-xs hex-white">
                <div class="hex-content"><i class="pe-so-twitter"></i></div>
                </div>
              </a>
          </li>
          <li role="presentation" class="social">
              <a href="https://pe.linkedin.com/company/hack-space">
                <div class="hex hex-xs hex-white">
                <div class="hex-content"><i class="pe-so-linkedin"></i></div>
                </div>
              </a>
          </li>
        </ul>
        <button type="button" role="button" class="mobile-btn"><span class="lines"> </span></button>
      </div>
    </nav>
    <div id="main-slider" class="pe-slider section-dark">
      <ul class="pe-slides">
        <li class="slide-2 mid-slide" style="background: #1D1D1B url('assets/img/obj-bg.png') no-repeat center center;background-size: 100% 100%;background-size: cover;">
        <img src="assets/img/entrenamiento.png" class="slider_elem slider_bug">
          <h3 class="slider_elem slider_text h-bold color-white text-center">HackSpace Chiclayo</h3>
          <p class="slider_elem slider_text h-regular color-white text-center"><a href="entrenamiento">Empieza tu entrenamiento</a></p>
        </li>
      </ul>
    </div>
    <section id="entorno" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <h1 class="h-heavy"><a href="entrenamiento">¡Entrenamiento Abierto!</a></h1>
            <h2 class="h-semibold">Somos una comunidad de apasionados por<br>el Desarrollo de Software y la Electrónica.</h2>
            <p class="mt3">Generamos espacios dentro de las universidades, entornos gratuitos, libres y abiertos, fomentando el autoaprendizaje y fortaleciendo la autoconfianza para la creación. Así, Hack Space Chiclayo es concebido, un espacio en comunidad multidisciplinaria para aprender y desarrollar tecnología, basados en la cultura del Hacer y optando por ser autodidactas, ubicado en la Ciudad de la Amistad.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="repositorio" data-bg-src="assets/img/bg-4-1.jpg" class="section section-dark section-background pt-45 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h3 class="color-light-grey h-bold">Sobre el Entrenamiento</h3>
            <p class="color-light-grey mt2">El Entrenamiento Virtual consta de 2 semanas con temas de desarrollo web teniendo como fecha de inicio para cada semana los sábados 9 y 16 de mayo, cada una consta de un Reto que deberá ser presentado los viernes 15 y 22 de Mayo. Los más esforzados serán seleccionados para el Entrenamiento Presencial en los ambientes de la Universidad Nacional Pedro Ruiz Gallo.</p>
            <a href="entrenamiento"> <button class="btn btn-lg mt3">Iniciar con el Entrenamiento</button></a>
          </div>
        </div>
      </div>
    </section>
    <section id="screenshots" class="section pb-90">
      <div class="container">
        <!-- Modal-->
        <div class="row">
          <div class="col-md-12 text-center px4">
            <h1 class="h-light mb3">¿Cómo lograr un espacio de comunidad en Chiclayo?</h1>
            <p>En el mes de abril del 2015, durante el FLISOL Lambayeque, se presenta a Hack Space Chiclayo ante una comunidad vibrante con interés en común por la tecnología. Ese mismo día, se anuncia el inicio de postulaciones para el Entrenamiento Virtual del 9 y 16 de mayo, siendo los más esforzados e interesados los seleccionados para el Entrenamiento Presencial durante 3 semanas en el mes de junio, a partir de este momento todos nuestros miembros estarán en condiciones de participar de los Hack Nigther, amanecidas de desarrollo y aprendizaje. Ellos serán los primeros en potenciar la comunidad chiclayana. ¿Te unes al reto?</p>
          </div>
        </div>
      </div>
    </section>
    <section id="aliados" class="section section-dark pb-110 pt-80">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="h-bold">HackSpace <br> aprende | crea | desarrolla</h1>
            <hr class="mt-40 mb-40">
            <h3 class="h-semibold color-white-2">Nuestros Aliados</h3>
            <p class="small color-white-2">Buscamos a los mejores aliados para poder agilizar la expansión de nuestro entorno en todo latam</p>
            <ul class="download-brands mt-50 mb-50">
              <li> <a href="http://start-up.pe/">Startup Perú <i class="pe-is-e-target-2"></i></a></li>
              <li> <a href="http://fablabuni.edu.pe/">Red FabLab <i class="pe-is-e-target-2"></i></a></li>
              <li> <a href="https://bongous.com/">Bongo.US <i class="pe-is-e-target-2"></i></a></li>
              <li> <a href="https://crealo.com/">Crealo <i class="pe-is-e-target-2"></i></a></li>
            </ul>
            <p class="small color-grey footer-copy">&copy;2015 Hackspace, Todos los derechos registrados</p>
          </div>
        </div>
      </div>
    </section>
    <script>
      var peLoader=function(){var e=function(e){config={loader:"#loading",removeTime:700};for(var o in e)e.hasOwnProperty(o)&&(config[o]=e[o]);var n,i=document.querySelector(config.loader),t=function(e){e.classList.add("loaded"),setTimeout(function(){document.body.removeChild(e)},config.removeTime)},r=function(){n=setTimeout(t(i),2e3)};i&&(window.addEventListener("load",r),i.addEventListener("click",function(){clearTimeout(n),t(i)}))};return{init:e}}();
      peLoader.init();
      
    </script>
    <!-- Libs scripts-->
    <script type="text/javascript" src="assets/libs/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/libs/prism/prism.js"></script>
    <script type="text/javascript" src="assets/js/fontsmoothie.min.js"></script>
    <!-- Pe Plugins-->
    <script type="text/javascript" src="assets/js/pe-slider.min.js"></script>
    <script type="text/javascript" src="assets/js/pe-scrollchange.min.js"></script>
    <script type="text/javascript" src="assets/js/pe-navscroll.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script>
      $(document).ready(function(){
      
        // Init Background
        addBg('.section-background'); 
      
        // Pe Slider
        peSlider.init({
          slider:'#main-slider'
        });
      
        peSlider.init({
          slider:'#screenshot-slider',
          navigation:false,
          auto: true,
          delay: 5000,
          hoverPause: true
        });
      
        // Pe Nav Scroll
        peNavScroll.init({
          nav:'.nav',
          duration: 500,
          offset:-58,
          allLinks:true,
          easingFunction: easing.easeInOutCubic
        });
        
      
        // Mobile Navigation
        $('.mobile-btn').click(function(){
          $(this).toggleClass('x');
          $('.nav').toggleClass('open');
        })
      
      
      }) // Ready
      
      $(window).load(function(){
        // Scroll Changes
        peScrollChange.init({
          elem: '.navbar',
          trigger: document.querySelector('#main-slider').offsetHeight,
          classesToChange: 'transp',
          removeClass: true
        });
        peScrollChange.init({
          elem: '.iphone-s1',
          trigger: '#features',
          classesToChange: 'show',
          offset: 340,
          endPoint: document.querySelector('#entorno').offsetHeight
        });
        peScrollChange.init({
          elem: '.iphone-s3',
          trigger: '.iphone-features-cont',
          classesToChange: 'show'
        });
        peScrollChange.init({
          elem: '.iphone-s6',
          trigger: '#quote',
          classesToChange: 'show'
        });
      })
          
    </script>
  </body>
</html>
