<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HackSpace Perú - Entrenamiento Virtual</title>
		<meta name="description" content="HackSpace Perú presenta su Entrenamiento Virtual" />
		<meta name="keywords" content="hackspace, perú, chiclayo, entrenamiento, comunidad, desarrollo, tecnología, web" />
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/style1.css" />
		<script src="assets/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			<div id="theSidebar" class="sidebar">
				<h1>Frontend</h1>
				<nav class="codrops-demos">
					<a class="current-demo" href="entrenamiento">Semana 1 (09/05)</a>
					<a>Semana 2 (16/05)</a>
				</nav>
				<div class="related">
					<h3>Temas</h3>
					<a href="#Front">Fundamentos de Frontend</a>
					<a href="#HTML5">Fundamentos de HTML5</a>
					<a href="#CSS3">Fundamentos de CSS3</a>
				</div>
			</div>
			<div id="theGrid" class="main">
				<section class="grid">
					<!--Fundamentos Frontend hasta Configurando mi Entorno-->							
					<a id="Front" class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de Frontend</h2>
						<div class="loader"></div>
						<span class="category">Guía de Fundamentos Web</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/authors/alvaro.png" alt="author01" width="40" /> 
						</div>
					</a>
					<!--FF: HTML5, CSS, JS-->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de Frontend</h2>
						<div class="loader"></div>
						<span class="category">Una mirada a HTML, CSS y JS</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/frontend.png" alt="Frontend" width="40" /> 
						</div>
					</a>
					<!--FF: Ejercicios-->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de Frontend</h2>
						<div class="loader"></div>
						<span class="category">Ejercicios</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="author03" width="40" /> 
						</div>
					</a>
					<!--Fundamentos de HTML5-->
					<a id="HTML5" class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de HTML5</h2>
						<div class="loader"></div>
						<span class="category">Introducción a HTML5</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/authors/giancarlo.png" alt="author04" width="40"/> 
						</div>
					</a>
					<!-- FH: Iniciando con HTML5 -->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de HTML5</h2>
						<div class="loader"></div>
						<span class="category">Etiquetas en HTML5</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/html.jpg" alt="HTML" width="40" /> 
						</div>
					</a>
					<!-- FH: Ejercicios de HTML5 -->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de HTML5</h2>
						<div class="loader"></div>
						<span class="category">Ejercicios</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" width="40" /> 
						</div>
					</a>
					<!-- Fundamentos de CSS -->
					<a id="CSS3" class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de CSS3</h2>
						<div class="loader"></div>
						<span class="category">Introducción a CSS3</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/authors/giancarlo.png" alt="Giancarlo" width="40" /> 
						</div>
					</a>
					<!-- FC: Selectores -->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de CSS3</h2>
						<div class="loader"></div>
						<span class="category">Selectores</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/css.jpg" alt="CSS" width="40"/> 
						</div>
					</a>
					<!-- FC: Ejercicios -->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">Fundamentos de CSS3</h2>
						<div class="loader"></div>
						<span class="category">Ejercicios</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" width="40" /> 
						</div>
					</a>
					<!-- RETO -->
					<a class="grid__item" href="#">
						<h2 class="title title--preview">1er Reto Frontend</h2>
						<div class="loader"></div>
						<span class="category">Reto</span>
						<div class="meta meta--preview">
							<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" width="40" /> 
						</div>
					</a>					
					<footer class="page-meta">
						<span>Hack Space Perú</span>
					</footer>
				</section>
				<section class="content">
					<div class="scroll-wrap">
						<!--Fundamentos Frontend hasta Configurando mi Entorno-->
						<article class="content__item">
							<span class="category category--full">Fundamentos de Frontend</span>
							<h2 class="title title--full">Guía de Fundamentos Web</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/authors/alvaro.png" alt="author01" />
								<span class="meta__author">Alvaro Concha</span>							
							</div>
							<div style="text-align: center"><iframe width="560" height="315" src="https://www.youtube.com/embed/2rxlHEriz90?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="text-align:center"></iframe></div>
							<p>Son los encargados de maquetar la estructura semántica del contenido (HTML), codificar el diseño en hojas de estilo (CSS) y agregar la interacción con el usuario (Javascript).</p>
							<h3>Frontend</h3>

							<p>En la época actual los Frontends tienen HTML5 y CSS3. Con HTML5, desde el frontend, es posible hacer geolocalización, dibujo vectorial, guardar datos en el disco del usuario, insertar audio y vídeo, entre otras cosas.</p>
							<p>Con CSS3, se pueden crear diseños altamente complejos sin la necesidad de imágenes cortadas, sólo usando código. Bordes redondeados, sombras, degradados, fondos múltiples, entre otros. Por último, Javascript y sus frameworks añaden el componente de interactividad y conexión al servidor.</p>
							<p>Es posible comunicarse con el backend y la base de datos sin recargar la página usando AJAX o WebSockets, para recibir esos datos y cambiar el diseño entero del sitio. jQuery hace todo esto fácil pero cabe aclarar que si bien es el más conocido, no es el único framework de Javascript.</p>
							
							<h3>Configurando mi entorno</h3>

							<p>Antes de empezar, debemos tener las herramientas necesarias para visualizar correctamente y entender mejor qué es lo que sucede en una página web.</p>
							<h4>Herramientas necesarias:</h4>
								<p>Estas son las herramientas que necesitaremos: Windows/Linux/MAC</p>
								<p><a href="https://www.google.com/chrome/" target="_blank">Google Chrome: </a>Descárguense este navegador si aún no lo tienen, más adelante lo utilizaremos con mayor profundidad.</p>
								<p><a href="http://www.sublimetext.com/2" target="_blank">Sublime Text 2: </a>Este es uno de los mejores editores de texto gratuitos disponibles. Les servirá para poder abrir los archivos que les brindaremos, para revisarlos y editarlos en su computadora.</p>
							<h4>Recursos:</h4>
								<p>1. Un libro en pdf completo de los 3 temas si desean profundizarse más.</p>
									<a href="https://adegiusti.files.wordpress.com/2013/09/el-gran-libro-de-html5-css3-y-javascript.pdf" target="_blank">Libro de HTML, CSS y JavaScript</a> 
								<p>2. Aprende HTML con pasos muy explicados.</p>
									<a href="http://htmlya.com.ar/" target="_blank">HTML YA!</a>
								<p>3. Visita la plataforma de DevAcademy para aprender HTML, CSS y JS.</p>
									<a href="https://devacademy.la/ingresar">DevAcademy</a>
								<p>4. Codecademy es una plataforma interactiva en línea que ofrece clases gratuitas de codificación en lenguajes de programación como Python, PHP, JavaScript, y Ruby, así como lenguajes de marcado incluyendo HTML y CSS3 y también uso de API's.</p>
									<a href="http://www.codecademy.com/?locale_code=es" target="_blank">Codecademy</a>
							<p>Continua a la siguiente sección para probar HTML, CSS y JavaScript.<p>						
						</article>
						<!--FF: HTML, CSS, JS-->
						<article class="content__item">
							<span class="category category--full">Fundamentos de Frontend</span>
							<h2 class="title title--full">Una mirada a HTML, CSS y JS</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/frontend.png" alt="Frontend" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<p>Ahora que ya tenemos los programas necesarios descargados, empecemos con unos ejemplos simples.</p>
							<h3>HTML sin CSS ni JS:</h3>
								<p>Debes ir la siguiente url donde se muestra un tutorial básico de html con el editor de código SublimeText2.</p>
								<a href="https://compugraf3.wordpress.com/2013/03/26/creacion-de-un-archivo-html-con-sublime-text-2-2/" target="_blank">Tutorial</a>
								<p>Más ejemplos de HTML:</p>
								<a href="https://www.dropbox.com/s/oxgys4uj3ngnu21/ejemplos.rar?dl=1" target="_blank">Ejemplos</a>
								<p>Ahora, revisa un video para aprender a guardar tu proyecto:</p>
								<a href="https://www.youtube.com/watch?v=U1lq6Oytb_0" target="_blank">Video</a>
							<h3>HTML con CSS y JS, todo dentro de HTML:</h3>
								<p>Continuaremos con un archivo HTML con CSS y Javascript incluido dentro de él.</p>
								<p>En este ejemplo añadimos dentro del &#60;body&#62; el estilo (CSS) y el script (Javascript), el orden en el que ha sido colocado influye en la funcionalidad que posee, pero ahora lo que nos interesa es solo ver que funciona.</p>
								
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3    <head>
4    <meta charset="utf-8">
5    <title>Página 2</title>
6    </head>
7    <body>
8        <style type="text/css">
9            .clase1 {
10                color: blue;
11            }
12        </style>
13        <h1 class="clase1">Título</h1>
14        <p id="demo">Párrafo: Bienvenido al entrenamiento de Fundamentos de Frontend.</p>
15        <img src="http://puu.sh/e0BO7/f44d5bf1d6.png" alt="HackSpace Perú">
16        <script type="text/javascript">
17            function miFuncion() {
18                var x = document.getElementById("demo");
19                x.style.fontSize = "25px";           
20                x.style.color = "red"; 
21            }
22        </script>
23        <button type="button" onclick="miFuncion()">¡Hazme clic!</button>
24    </body>
25 </html>
</xmp></div>

								<p>Si abres esta url verás como añadir una imagen con CSS a HTML:</p><a href="https://www.youtube.com/watch?v=zH4qpr_OAQU" target="_blank">Video</a>
								<p>También recomendamos este canal donde los ejemplos están muy bien explicados:</p><a href="https://www.youtube.com/watch?v=TFSksCvwOLA" target="_blank">Canal</a>
								<p>Si abres este archivo con Google Chrome verás un ejemplo de css en html:</p>
								<a href="http://www.aprenderaprogramar.com/index.php?option=com_content&view=article&id=602:utilidad-de-css-en-desarrollos-web-junto-a-html-y-javascript-aplicar-estilos-ejemplo-sencillo-cu00732b&catid=69:tutorial-basico-programador-web-html-desde-cero&Itemid=192" target="_blank">Ejemplo</a>
								<p>Este es el resultado en nuestro ejemplo</p>
								<img src="assets/img/result/002.png" alt="Resultado"></img>
								<p>Vale la pena aclarar que en este caso hemos colocado la etiqueta&#60;style&#62; dentro del &#60;body&#62; como muestra. Sin embargo, el mejor lugar para colocarla es el &#60;head&#62; ya que la página empezará a renderizar (es decir, interpretar el &#60;body&#62;) ya con los estilos definidos.</p>
								<p>Por otro lado, en este ejemplo vemos cómo con el CSS estamos cambiando el color del Título. Ya demás, con el Javascript estamos añadiendo la funcionalidad que si haces clic en el botón ¡Hazme Clic! agregamos atributos CSS al Párrafo y este crece y cambia de color.</p>
								<p>Ya que entendemos mejor a qué nos referíamos cuando decíamos que el CSS cambia el estilo y el Javascript agrega funcionalidad, veremos un último ejemplo con estos archivos separados.</p>
							<h3>HTML con CSS y JS, ordenados en carpetas:</h3>
								<p>Debido a que cuando trabajamos en una web tenemos bastante código para trabajar, es preferible separar y organizar el HTML, CSS y Javascript en archivos y hasta carpetas diferentes. De esta manera, en el ejemplo anterior lo podemos realizar también de esta otra manera:</p>
								<p>Creamos los arhivos ejemplo3.html, style.css y main.js, y los ponemos en una ubicación que conozcamos (en este caso los 3 están en una misma carpeta). Estos son los archivos HTML, CSS y Javascript respectivamente y pueden tener cualquier nombre que queramos pero con sus respectivas terminaciones.</p>								
								<p>Abrimos el archivo HTML y vemos que en vez del código CSS y Javascript que había anteriormente, ahora hay un links dentro de la etiqueta &#60;head&#62; y la etiqueta &#60;script&#62; de Javascript con código que teníamos se redujo a un src="main.js"</p>
								<p>Abrimos el archivo CSS llamado style.css y vemos el mismo código que teníamos dentro de &#60;style type="text/css"&#62;.</p>
								<p>Abrimos el archivos Javascript llamado main.js y vemos el mismo código que teníamos dentro de &#60;script type="text/javascript" src="static/template/themes/admin/layout.js"&#62;&#60;/script&#62;.</p>
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3    <head>
4    <meta charset="utf-8">
5    <title>Página 3</title>
6    <link type="text/css" href="style.css" rel="stylesheet">
7    </head>
8    <body>
9        <h1 class="clase1">Título</h1>
10        <p id="demo">Párrafo: Lorem ipsum dolor sit amet.</p>
11        <img src="http://puu.sh/e0BO7/f44d5bf1d6.png" alt="HackSpace Perú">
12        <button type="button" onclick="miFuncion()">¡Hazme clic!</button>
13        <script type="text/javascript" src="main.js"></script>
14    </body>
15 </html></xmp></div>
								<p>Si abres el archivo ejemplo3.html con Google Chrome verás que se ve exactamente igual que en el Ejemplo 2 y tiene la misma funcionalidad:</p><img src="assets/img/result/002.png" alt="Resultado"></img>
								<p>Vale la pena aclarar que la intención de estos ejemplos no es que entiendas el código que estamos utilizando, ese será tema de las siguiente secciones. Pero si es que haz entendido mejor cómo es que los archivos HTML, CSS y Javascript interactúan, entonces estás listo para empezar a aprender a desarrollar con estos lenguajes.</p>
								<p>Continua a la siguiente sección, tenemos ejercicios esperando por ti.</p>
						</article>
						<!--FF: Ejercicios-->
						<article class="content__item">
							<span class="category category--full">Fundamentos de Frontend</span>
							<h2 class="title title--full">Ejercicios</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<p>Antes de continuar, reforcemos lo que hemos aprendido en esta primera sección con unos cuántos ejercicios muy simples.</p>
							<h3>Ejercicios para descargar</h3>
								<p>Descargar los ejercicios en este enlace: <a href="https://www.dropbox.com/s/l3r2buyb93dzgvg/ejercicios.rar?dl=1" target="_blank">Ejercicios</a></p>
							<h3>Ejercicio 1: HTML sin Linkear CSS</h3>
								<p>En la carpeta Ejercicio 1 encontramos un archivo HTML llamado index.html. Si abrimos esta archivo en el navegador veremos algo así:</p>
								<img src="assets/img/result/003.png" alt="Ejercicio 1">
								<p>Esto sucede porque los dos archivos CSS que necesita la web no estan linkeados dentro del HTML. Para solucionarlo debes editar el archivo index.html (en Sublime Text 2) e incluir estas dos líneas de código dentro de la etiqueta &#60;head&#62;. Por ahora no nos preocupemos en qué lugar del HEAD en específico:</p>
								<strong><p>&#60;link href="css/bootstrap.min.css" rel="stylesheet"&#62;</p></strong>
								<strong><p>&#60;link href="css/agency.css" rel="stylesheet"&#62;</p></strong>			
								<p>Abre nuevamente el archivo en el navegador. ¿Qué es lo que ves ahora? Debería aparecer algo como esto:</p>
								<img src="assets/img/result/004.jpg" alt="Resultado">
							<h3>HTML sin linkear JS</h3>
								<p>En este segundo ejercicio queremos que le des funcionalidad a la sección del Portafolio de la página.</p>
								<img src="assets/img/result/005.jpg" alt="Resultado-portafolio">
								<p>Abre el archivo index.html de la carpeta Ejemplo 2. Haz clic en cualquier imagen de la sección Portafolio, verás que no aparece nada, solo hay un hover de color amarillo. Lo que haremos será incluir el archivo Javacript que brinda la funcionalidad del modal. Para quienes no entienden qué es un modal, es una sección de HTML que aparece delante de la página, muchos lo conocen como POP UP, pero este no aparece en una ventana diferente, sino en la misma página.</p>
								<p>En este caso, el HTML ya está creado, pero está oculto. Lo que haremos será incluir el archivo de javascript que hará que aparezca y desaparezca cuando el usuario desee.</p>
								<p>Para conseguir esto, abre el archivo index.html en Sublime Text 2 y dirígete a la parte más baja del documento, donde finaliza el &#60;/body&#62;</p>
								<p>Ahí verás que hay varias etiquetas de &#60;script&#62;. Antes de que se cierre la etiquetea &#60;/body&#62; incluye el siguiente script:</p>
								<p>&#60;script src="js/modal.js"&#62;</script></p>
								<p>Guarda el archivo y abre nuevamente el archivo index.html en el navegador, dirígete a la parte de Portafolio y haz clic en alguna de las imágenes. ¿Te aparece algo ahora? Debería aparecer algo como esto:</p>
								<img src="assets/img/result/006.jpg" alt="Resultado">
						</article>
						<!-- Fundamentos de HTML-->
						<article class="content__item">
							<span class="category category--full">Fundamentos de HTML5</span>
							<h2 class="title title--full">HTML5</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/authors/giancarlo.png" alt="author04" />
								<span class="meta__author">Giancarlo Sandoval</span>					
							</div>
							<div style="text-align: center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/C1wNx_OP6yU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
							<p>HTML5 es la actualización de HTML, el lenguaje en el que es creada la web. HTML5 también es un término de marketing para agrupar las nuevas tecnologías de desarrollo de aplicaciones web: HTML5, CSS3 y nuevas capacidades de Javascript que manejan diferentes APIs en el navegador.</p>
							<p>La versión anterior y más usada de HTML, HTML4, carece de características necesarias para la creación de aplicaciones modernas basadas en un navegador. El uso fuerte de Javascript ha ayudado a mejorar esto, gracias a frameworks como <a href="http://jqueryui.com" target="_blank">jQuery UI,</a> <a href="http://www.cristalab.com/blog/sproutcore-la-competencia-en-javascript-a-flex-y-flash-c58098l/" target="_blank">Sproutcore</a>, entre otros.</p>
							<p>Flash en especial ha sido usado en reemplazo de HTML para desarrollar web apps que superan las habilidades de un navegador: Audio, video, webcams, micrófonos, datos binarios, animaciones vectoriales, componentes de interfaz complejos, entre muchas otras cosas. Ahora HTML5 es capaz de hacer esto sin necesidad de plugins y con una gran compatibilidad entre navegadores modernos.</p>
							<p>En la siguiente sección, aprenderemos desde cero HTML5, recuerda retarte a ti mismo.</p>
						</article>
						<!-- FH: Etiquetas en HTML5 -->
						<article class="content__item">
							<span class="category category--full">Fundamentos de HTML5</span>
							<h2 class="title title--full">Etiquetas en HTML5</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/html.jpg" alt="HTML5" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<h3>¿Cómo comenzar un documento HTML?</h3>
								<p></p>
								<p>Lo primero que se declara siempre es el <strong>&#60;!DOCTYPE&#62;</strong>. Con esto definimos que versión de html usaremos.<strong>&#60;!DOCTYPE html&#62;</strong> define html5.Todo html sigue una estructura similar, primero se escribe la etiqueta <strong>&#60;html&#62;&#60;/html&#62;</strong> y dentro de el contiene una etiqueta <strong>&#60;head&#62;&#60;/head&#62;</strong> el cual define información del documento y otra <strong>&#60;body&#62;&#60;/body&#62;</strong> el cuál define información del cuerpo del documento:</p>								
								<div class="code"><xmp>1 <!DOCTYPE html>
2  <html lang="es">
3  <head>
4     <meta charset="UTF-8">
5	  <title>Titulo</title>
6  </head>
7  <body>
8	  <!-- Asi escribimos comentarios -->
9  </body>
10 </html>
</xmp> </div>
								<p>Generalmente las etiquetas de abren <strong>&#60;etiqueta&#62;</strong> y cierran <strong>&#60;/etiqueta&#62;</strong>, teniendo contenido por dentro, habiendo excepciones que no se cierran porque no tienen contenido, como <strong>&#60;img&#62;</strong>, <strong>&#60;br&#62;</strong> o <strong>&#60;base&#62;</strong>. Otro concepto fundamental es entender que cada etiqueta tiene atributos y cada atributo asume un valor:</p>
								<strong><p>&#60;etiqueta atributo1=valor1 atributo2=valor2 ... atributon=valorN&#62;&#60;/etiqueta&#62;</p></strong>
								<p>El atributo id por ejemplo define un identificador único en todo el documento que servira para asignarle estilos o scripts al componente de la etiqueta en que se encuentre gracias a los llamados selectores. Otro atributo que permite también acceder a elementos específicos es el atributo class. Para mayor detalle de los atributos se recomienda este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes" target="_blank">enlace.</a></p>
								<p>Dentro del head y del body también encontramos otras etiquetas que ayudan a definir la información del documento y de su cuerpo, respectivamente.</p>
							<h3>Etiquetas principales de <strong>&#60;head&#62;</strong></h3>
								<p>Las etiquetas más comunes que encontramos son:</p>
								<!--AÑADIR TABLA DE ETIQUETAS HEAD-->
								<p>Revisa este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head" target="_blank">enlance.</a></p>
								<p>Definamos un archivo head.html:</p>								
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3 <head>
4	<title>Mi primer titulo</title>
5	<meta charset="UTF-8">
6	<meta name="description" content="Fundamentos Frontend">
7	<meta name="keywords" content="HTML,CSS,JavaScript">
8	<meta name="author" content="Hackspace">
9	<link rel="stylesheet" type="text/css" href="styles.css">
10	<style>
11		h1 {color:red;}
12		p {color:blue;}
13	</style>
14 </head>
15 <body>
16 	<h1>Style rojo.</h1>
17	<p>Style azul.</p>
18 </body>
19 </html></xmp></div>
							<h3>Etiquetas de Texto y Contenido</h3>
								<p>Revisa este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning" target="_blank">enlance.</a></p>
								<!--AÑADIR TABLA DE TEXTO Y CONTENIDO-->
								<p>Veamos el ejemplo con estas etiquetas:</p>
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3 <body>
4	<div style="color:#0000FF">
5	 	<p><b>Semana 1:</b></p>
6	  	<h1>HTML</h1>
7	  	<h2>CSS</h2>
8	</div>
9	<div style="color:#00FFFF">
10		<p><b>Semana 1:</b></p>
11	  	<h4>Bootstrap/Foundation</h4>
12	  	<h5>Firebase</h5>
13	  	<h6>Nodejs</h6>
14	</div>
15	<p>La Semana 1 <span style="color:#0000FF;font-weight:bold">será buena</span> 
	y la Semana 2 <span style="color:00FFFF;font-weight:bold"> mejor </span> :).</p>
16	<br>
17	<iframe src="http://hackspace.la/#curricula" />
18 </body>
19 </html></xmp></div>
							<h3>Etiquetas de Formulario</h3>
								<p>Revisa este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Forms" target="_blank">enlance</a></p>
								<!--AÑADIR TABLA DE FORMULARIO-->
								<p>Veamos el ejemplo con estas etiquetas:</p>
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3 <body>
4	<form action="/pagina">
5		<p>Elija un username:</p> <input type="text" name="Username" value="hackspace">
<br>
6		<p>Elija un password:</p> <input type="password" id="Password" value="123456789">
<br>
7		<p>Nombres:</p> <input type="text" name="FirstName" value="Juan"><br>
8		<p>Apellidos:</p> <input type="text" name="LastName" value="Perez"><br>
9		<p>Foto de perfil:</p> <input type="file" id="myFile"><br>
10		<p>Pais:</p>
11		<select>
12		  <option value="peru">Peru</option>
13		  <option value="arge">Argentina</option>
14		  <option value="chil">Chile</option>
15		  <option value="bras">Brasil</option>
16		</select><br>
17		<p>Fecha de nacimiento:</p> <input type="date" id="myDate" value="2015-01-05">
<br>
18		<p>E-mail:</p> <input type="email" id="myEmail" value="contacto@hackspace.com">
<br>
19		<p>Pagina web:</p><input type="url" id="myURL" value="http://www.tuweb.com">
<br>
20		<p>Sobre mi:</p><br>
21		<textarea rows="4" cols="50">Esta es mi descripcion.
22		</textarea><br>
23		<input type="checkbox" id="myCheck"> He leido el acuerdo de seguridad 
24		<br>
25		<input type="submit" value="Enviar">
26		<input type="button" id="Cancel" onclick="cancelar()" value="Cancel">
27	</form>
28	<p>El boton "Enviar" te llevara a "/pagina".</p>
29 </body>
30 </html></xmp></div>
							<h3>Introducción a JS con la etiquetas &#60;script&#62;</h3>
								<p>Revisa este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Scripting" target="_blank">enlance.</a></p>
								<!--AÑADIR TABLA DE ETIQUETAS JS-->
								<p>Vamos a escribir JavaScript dentro de un elemento HTML con atributo id=”hackspace”:</p>
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3 <body>
4	<script>
5	function myFunction() {
6	document.getElementById("hackspace").innerHTML = "Hola JavaScript!";
7	}
8	</script>
9	<p id="hackspace">Antes de JavaScript</p>
10	<button type="button" onclick="myFunction()">Probar script</button>
11 </body>
12 </html></xmp></div>
							<h3>Otras etiquetas: &#60;audio&#62; y &#60;source&#62;</h3>
								<p>Revisa este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Image_.26_multimedia" target="_blank">enlance.</a></p>
								<!--AÑADIR TABLA OTRAS ETIQUETAS-->
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html>
3 <body>
4	<audio controls>
5	  <source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg">
6	  <source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mpeg">
7	  Tu browser no soporta el elmento audio.
8	</audio>
9 </body>
10 </html></xmp></div>

								<p>Por ahora, busca más información acerca de estas etiquetas, interactúa con sus atributos y si quieres saber otras etiquetas, visita este <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element " target="_blank">enlace.</a></p>
						</article>
						<!-- FH: Ejercicios de HTML5 -->
						<article class="content__item">
							<span class="category category--full">Fundamentos de HTML5</span>
							<h2 class="title title--full">Ejercicios</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<h3>Ejercicios</h3>
								<p>Antes de continuar, reforcemos lo que hemos aprendido en esta segunda sección con unos cuántos ejercicios muy simples.</p>
							<h3>Ejercicio 1: Documento HTML haciendo uso de las etiquetas.</h3>
								<p>a. Escriba un documento html que tenga como título “Programación” y que redacte brevemente acerca de programación incluya cabeceras, párrafos, divisiones, una tabla que enumere los cursos que desearía aprender.</p>
							<h3>Documento HTML</h3>
								<p>b.Escriba un documento html con un formulario que pregunte por datos como nombre, apellido, cursos, notas, fecha de ingreso, un botón para subir una foto y un botón final para “enviar”.</p>
						</article>
						<!-- Fundamentos de CSS -->
						<article class="content__item">
							<span class="category category--full">Fundamentos de CSS3</span>
							<h2 class="title title--full">CSS3</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/authors/giancarlo.png" alt="Giancarlo Sandoval" />
								<span class="meta__author">Giancarlo Sandoval</span>					
							</div>
							<div style="text-align: center">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/WclU3Vk4_Q8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
							<h3>Fundamentos de CSS</h3>
								<p>CSS son las hojas de estilo en cascada, es decir, es el encargado de generar los estilos de nuestro documento HTML.</p>
								<p>Si tú eres de las personas que dice que programa al momento de hacer un documento en CSS, te doy la triste y mala noticia de que esto es falso ya que tú <strong>nunca programas en CSS o en HTML, sino diseñas y modelas datos.</strong></p>
							<h3>¿Cómo agregar CSS en HTML?</h3>
								<p>1. Directamente en HTML</p>
									<p>Agregar CSS directamente en la etiqueta <strong>&#60;style&#62;</strong> del HTML</p>
									<div class="code"><xmp>1 <style type="text/css">
2 p {
3   color:green
4 }
5 </style></xmp></div>
								<p>2. En las etiquetas HTML</p>
									<p>Agregar CSS en las etiquetas del HTML.</p>
									<div class="code"><xmp>1 <p style="color:white;background:green;">Texto blanco fondo verde</p></xmp></div>
								<p>3. Link externo</p>
									<p>Agregar un link a un archivo de CSS externo.</p>
									<div class="code"><xmp>1 <link rel="stylesheet" type="text/css" href="estilos.css" /></xmp></div>
								<p>4. Importando un archivo CSS</p>									
									<div class="code"><xmp>1 @import "estilos.css"</xmp></div>
							<h3>Estructura Básica</h3>
								<div class="code"><xmp>1 selector { 
2	propiedad1:valor; 
3	propiedad2:valor; 
4	propiedad3:valor; 
5 } 
</xmp></div>
								<p>a. El selector identifica los elementos del HTML a los cuales se aplicará la regla.</p>
								<p>b. Los pares propiedad-valor dentro de las llaves están separados por puntos y coma; y las propiedades están separadas de su respectivo valor por dos puntos.</p>
								<p>c. Las propiedades definen lo que quieres modificar a los elementos seleccionados, por ejemplo, cambiar la posición, el color, los márgenes, el color de fondo, entre otros.</p>
								<p>d. Los valores son los valores que quieres cambiar a cada propiedad de los elementos seleccionados. Los valores dependen de la propiedad, por ejemplo las propiedades que afectan al color pueden tomar nombres de color (en inglés) como red, gray, yellow, código del color en hexadecimal, como #009900 o valores RGB, como rgb(34,142,28). Las propiedades que afectan el ancho, la altura, la posición, el margen, etc pueden tomar valores medidos en pixel, ems, porcentaje, centímetros u otras unidades.</p>
								<div class="code"><xmp>1 css 
2 h1 { 
3	color: red; 
4	font-family: Arial; 
5	font-size: 30px; 
6 } </xmp></div>
								<p>El selector h1 selecciona a todos los elementos <strong>&#60;h1&#62;</strong>en el documento HTML que usa este CSS para aplicar esta regla, a menos que existan selectores más específicos cuyas reglas sobrescribirán a esta.</p>
								<p>Las propiedades en esta regla son el color del texto, la fuente del texto, y el tamaño de la fuente.</p>
								<p>Los valores de estas propiedades son rojo, Arial, y 30 pixeles respectivamente.</p>
								<p>Aún hay mucho por aprender sobre CSS y sus propiedades, revisa los recursos de la sección Fundamentos de Frontend para encontrar los recursos. En la siguiente sección veremos Selectores de CSS. ¡Sigue adelante, rétate!</p>
						</article>
						<!-- FC: Selectores -->
						<article class="content__item">
							<span class="category category--full">Fundamentos de CSS3</span>
							<h2 class="title title--full">Selectores</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/css.jpg" alt="CSS3" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<p>Existen muchos tipos de selectores, los tres más usados que vas a encontrar son:</p>
							<h3>Selectores</h3>								
								<p>1. Tag name: Selecciona los elementos del HTML de la respectiva etiqueta</p>
								<div class="code"><xmp>1 p {
2	color: red;
3 }</xmp></div>
								<p>2. Selector por clase: Selecciona los elementos del HTML que tienen un atributo class con el valor especificado.</p>
								<div class="code"><xmp>1 HTML
2 <h1 class="ejemplo">Texto de ejemplo</p>
3 <div class="ejemplo">Contenido</div>
4
5 CSS
6 .ejemplo{
7	color: blue;
8 }</xmp></div>
								<p>3. Selector por id: Selecciona los elementos del HTML que tienen un atributo id con el valor especificado.</p>
								<div class="code"><xmp>1 HTML
2 <h1 id="myid">Texto de ejemplo</p>
3 <div id="myid">Contenido</div>
4
5 CSS
6 #myid{
7	color: blue;
8 }</xmp></div>
								<p>Como sabemos que tú quieres ser muy bueno en CSS, la próxima semana incluiremos selectores avanzados, prepárate.</p>
							<h3>Agrupando Selectores</h3>
								<p>También es posible agrupar selectores que quieres que tengan el mismo estilo, por ejemplo en vez de escribir:</p>
								<div class="code"><xmp>1 css 
2 h1 { 
3	color: blue; 
4	font-size: 20px; 
5 } 
6 h2 { 
7	color: blue; 
8	font-size: 20px; 
9 } </xmp></div>
								<p>Donde los selectores h1 y h2 tienen el mismo estilo es posible agrupar los selectores separados por una coma:</p>
								<div class="code"><xmp>1 css 
2 h1,h2 { 
3	color: blue; 
4	font-size: 20px; 
5 } </xmp></div>
							<h3>Selectores Universales</h3>
								<p>En CSS existe el selector universal <strong>*</strong> el cual selecciona todos los elementos de un tipo el cual no es muy usado ya que raras veces se desea que todos los elementos tengan el mismo estilo.</p>
								<div class="code"><xmp>1 * {
2	margin: 0;
3	padding: 0;
4 }</xmp></div>
							<h3>Selectores descendentes</h3>
								<p>En algunas ocasiones se requiere dar estilos diferentes a elementos de un solo tipo pero que se diferencia por el elemento que los contiene.Un elemento A es descendiente de otro elemento B si el elemento A esta incluido en el elemento B.</p>
								<p> HTML </p>
								<div class="code"><xmp>1 <h1>
2 	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
3	<p>Praesent ac risus sed magna ornare pulvinar. </p>
4 </h1>
5 <p>Integer ex tortor, eleifend non porttitor eget, dictum eu elit.</p></xmp></div>
								<p>CSS</p>
								<div class="code"><xmp>1 h1 p {
2	color: red;
3 }</xmp></div>
								<p>En el ejemplo anterior existen dos etiquetas <strong>&#60;p&#62;</strong> pero se aplica solamente a la primera ya que esta está contenida dentro de la etiqueta h1 como se especifica en el selector del CSS.</p>
								<p>Hay que resaltar que no necesariamente el elemento descendiente tiene que estar contenido inmediatamente dentro del elemento externo, es decir el elemento descendiente puede estar contenido dentro de otro elemento que a su vez este contenido en el elemento más externo.</p>
								<div class="code"><xmp>1 <h1>
2	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
3	<p>Praesent ac risus sed <strong>magna</strong> ornare pulvinar. </p>
4 </h1>
5 <strong>Integer ex tortor, eleifend non porttitor eget, dictum eu elit.</strong>
6
7 h1 strong {
8 	color: red;
9 }</xmp></div>
								<p>En el ejemplo anterior la etiqueta  <strong>&#60;strong&#62;</strong>que deseamos aplicar el estilo está contenida dentro de una etiqueta<p> la cual a su vez está contenida en una etiqueta h1 por lo cual cumple la regla del selector del CSS.</p>
								<p>En general la estructura para selecionar elementos descendientes es los selectores de cada elemento individual comenzando del mas externo hasta el más interno separadas por un espacio:</p>
								<div class="code"><xmp>1 selector1 selector2 selector3 {
2 ...
3 }</xmp></div>
							<p>Aún hay mucho por aprender sobre selectores, aprende un poco más con los ejercicios de la siguiente sección.</p>
						</article>
						<!-- FC: Ejercicios -->
						<article class="content__item">
							<span class="category category--full">Fundamentos de CSS3</span>
							<h2 class="title title--full">Ejercicios</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="Hack Space" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>							
							<p></p>
							<h3>Ejercicio 1: Agregar CSS externo aplicando estilos a la diferentes etiquetas</h3>
								<p>Agregar una hoja de estilos externa al documento HTLM el cual aplica los siguientes estilos a todos los párrafos del documento: </p>
								<ul>
									<li>Color: Azul</li>
									<li>Tamaño de fuente: 12px</li>
									<li>Tipo de fuente: Times New Roman</li>
								</ul>
								<div class="code"><xmp>1 <!doctype html>
2 <html lang="en">
3 <head>
4	<meta charset="UTF-8"/>
5    <title>Document</title>
6 </head>
7 <body>
8	<h1>Bienvenido!</h1>
9   <a href="http://www.hackspace.pe">Visita la pagina</a>
10    <p> Dolor sit amet, consectetur adipiscing elit. Praesent et tortor id turpis vestibulum
vestibulum et quis magna. Praesent ac risus sed magna ornare pulvinar.</p>
11    <p> Mauris faucibus tristique posuere. Nam vehicula quam at venenatis imperdiet. Vivamus
mattis tortor eget est mollis tempor.</p>
12 </body>
13 </html></xmp></div>
							<h3>Ejercicio 2: Modificar el CSS para agregar estilos a un documento HTML</h3>
								<p>Modificar el CSS para agregar los siguientes estilos al documento HTML:</p>
								<ul>
									<li>El color del texto de todos los elementos del documento es verde.</li>
									<li>Los elementos con id HS tienen un color de fondo negro </li>
									<li>Los elementos con clase Frontend tienen borde solido de 2px y color de fondo con codigo rgb: rgb(224,224,224)</li>
								</ul>
								<div class="code"><xmp>1 <!DOCTYPE html>
2 <html lang="en">
3 <head>
4  <meta charset="UTF-8"/>
5  <title>Ejercicio 2</title>
6  <style>
7    body {background-color:lightgrey}
8    h1   {color:blue}
9    p    {color:green}
10  </style>
11 </head>
12 <body>
13  <h1>Bienvenido!</h1>
14  <a href="http://www.hackspace.la">CoreUpgrade 2015</a>
15  <p id="Frontend">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. Donec quam felis, </p>
16  <div>
17    <h1 class="Frontend"> A un Angleso it va semblar un simplificat Angles, quam un skeptic
Cambridge amico dit me que Occidental es.Li Europan lingues es membres del sam familie </h1>
18    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth<p>
19  </div>
20  <p id="HS">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
architecto beatae vitae dicta sunt explicabo.</p>
21 </body>
22 </html></xmp></div>
						</article>
						<!--Fundamentos Frontend hasta Configurando mi Entorno-->
						<article class="content__item">
							<span class="category category--full">1er Reto Frontend</span>
							<h2 class="title title--full">Frontend</h2>
							<div class="meta meta--full">
								<img class="meta__avatar" src="assets/img/logo/hackspace.jpg" alt="HackSpace" />
								<span class="meta__author">Hack Space Perú</span>						
							</div>
							<!-- Change the width and height values to suit you best -->
							<div class="typeform-widget" data-url="https://hackspaceper.typeform.com/to/EgOJQb?id=xxxxx" data-text="1er Reto Frontend" style="width:100%;height:500px;"></div>
							<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
						</article>					
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
				</section>
			</div>
		</div><!-- /container -->
		<script src="assets/js/classie.js"></script>
		<script src="assets/js/main2.js"></script>
	</body>
</html>